.State{ 
    font-family: "Fjalla One"; 
    font-size: 18.72; 
    color: white; 
    display: flex;
    flex-direction: column; 
    align-content: center;
    justify-content: center;

    background-color: black; 
    text-align: center; 
    width: 16.6vw; 
    height: 16.6vh;
}